body {
    font-family: 'School';
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: cornflowerblue;
}

@font-face {
    font-family: 'School';
    src: url(SchoolKX_2018_Haasnoot-Regular.otf);
}

menu {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

pauseButton {
    background-repeat: no-repeat;
    position: absolute;
    width: 200px;
    height: 55px;
}

player {
    background-image: url("../images/right.png");
    position: absolute;
    display: block;
    width: 100px; height: 200px;
}

word {
    text-align: center;
    position: absolute;
    display: block;
    font-size: 100px;
    width: 1000px; height: 100px;
}

level_1 {
    position: absolute;
    display: block;
    background-image: url("../images/level_1_background.png");
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

/*
kat {
    position: absolute;
    display: block;
    background-color: brown;
    width: 100px; height: 100px;
}*/


title {
    background-image: url("../images/titel.png");
    background-repeat: no-repeat;
    position: relative;
    display: block;
    margin: auto;
    width: 784px;
    height: 96px;
}

.buttons {
    background-repeat: no-repeat;
}

.buttons:hover {
    cursor: pointer;
    box-shadow: 10px 10px;
}

playButton {
    background-image: url("../images/playButton.png");
    width: 480px;
    height: 192px;
    margin: auto;
}

level1Button {
    background-image: url("../images/button1.png");
    width: 480px;
    height: 192px;
    margin: auto;
    margin-bottom: 20px;
}

level2Button {
    background-image: url("../images/button2.png");
    width: 480px;
    height: 192px;
    margin: auto;
    margin-bottom: 20px;
}

level3Button {
    background-image: url("../images/button3.png");
    width: 480px;
    height: 192px;
    margin: auto;
    margin-bottom: 20px;
}

level_2 {
    position: absolute;
    display: block;
    background-image: url("../images/level_2_background.png");
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}


level_3 {
    position: absolute;
    display: block;
    background-image: url("../images/level_3_background.png");
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

wrongLetter {
    font-size: 100px;
    text-align: center;
    position: absolute;
    display: block;
    width: 100px; height: 100px;
}

goodLetter {
    font-size: 100px;
    text-align: center;
    position: absolute;
    display: block;
    width: 100px; height: 100px;
}