body {
    font-family: 'School';
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

@font-face {
    font-family: 'School';
    src: url(SchoolKX_2018_Haasnoot-Regular.otf);
}

menu {
    text-align: center;
}